* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
h1,h2 {
    width: 700px;
    margin: auto;
    background-color: rgba(112, 235, 112, 0.7);
    color: rgb(21, 32, 32);
    padding: 20px;
}
h1{
    font-size: 70px;
}
h3 {
    /*background-color: rgba(112, 235, 112, 0.8);*/
    color: rgb(21, 32, 32);
}
body {
    background-image: url(./be-nary.png);
}
div {
    width: 700px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}
.converting {
    background-color: rgba(112, 235, 112, 0.7);
    height: 650px;
}
.button1, .button2 {
    width: 100px;
    height: 40px;
    background: rgb(2, 37, 2);
    color:rgb(181, 238, 181);
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}
.button1:hover, .button2:hover {
    background: rgb(49, 1, 49);
}
input[type=text] {
    width: 400px;
    height: 33px;
    background-color: #FEFEFE;
    border-radius: 5px;
}
p{
    font-size: 20px;
}

